<section id ="centercontent">

  <div class="container">
      <div class="row">

          <div class="col-md-12">

              <p class="name">- A photography</p>
              <p class="quote">"Photography makes us happy </p>
              <p class="quote">Take a shot."</p>
          </div>
      </div>
  </div>





  <div class="row">
      <div class="col-md-12">
          <img src="assets/scrolldown.gif" class="scrolldownimg" alt="">
       </div>
  </div>

</section>

<section >
  <div class="bottomimages">
      <img src="assets/manholdingcamera.jpg" alt="" class="img-fluid" >
  </div>
  <div class="bottomimages">
      <img src="assets/img8.jpg" class="img-fluid" alt="">
  </div>
</section>
