#centercontent
{
    padding: 0 !important;
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("../../assets/aboutbg.jpg");
    position:relative;

    background-size:cover;
    background-repeat:no-repeat;
}

.name
{
    align-items: center;
    color: rgb(209, 35, 35);
    font-size: 30px;
    margin-top: 100px;
    font-weight: 600;
    text-transform: uppercase;
}

.quote
{
    color: white;
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
}
.quote a
{
    text-decoration: none;
    pointer-events: none;
}


.viewportfolio
{
    color: black;
    padding: 10px;
    background: linear-gradient(to right, #6190e8, #a7bfe8);
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    outline: none;
    box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease 0s;


}

.viewportfolio:hover
{
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 186, 229, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.photographer
{

    width: 500px;
    height: 500px;
}

/*----------------------------------------------------------------------------*/

#bottomcontent
{
   padding: 0 !important;
   background:linear-gradient(to right, #0f2027, #203a43, #2c5364);
   overflow-x: hidden;
}

.bottomcontact
{

    margin-top: 100px;
    margin-left: 50px;
    writing-mode: vertical-lr;
    font-size: 15px;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


 .vertical-line
 {
      width: 1px;
      background-color: white;
      height: 100%;
      margin-left: 60px;
      border: 1 px solid white ;
      border-radius: 2px;
}
.manholdingcamera
{
    margin-top: 10px;
    margin-left: 35px;
    width: 50px;
    height: 50px;

}
.contactmesection
{
    transition:transform 5s;
}

.contactmesection:hover
{
 transform: rotate(1080deg) scale(2);
}

.discover
{
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 400;
}
.scrolldownimg
{
    height: auto;
    width:50px;
    margin-left: 48.5%;
}

/*---------------------------------------------------------------*/
.bottomimages
{
    max-width: 100%;
    height: auto;
    opacity: 0.9;
}

.bottom-right
{
  position: fixed;
  bottom: 8px;
  right: 16px;
  color: white;
}
